.shops_content{
    text-align: center;
    width: 90%;
    height: 40%;
    top:60%;
    left: 5%;
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    z-index:2;
    .btn{
        margin-top:10%;
    }
}
