<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="Cart.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
</head>

<body>
    <div class="cart">
        <div class="cart__header--wrapper">
            <div class="cart__header">
                <a href="">MY CART</a>
                <div class="cart__header-close">
                    <strong>CLOSE</strong>
                    <div class="icon--close">
                    </div>
                </div>
            </div>
        </div>
        <div class="cart__body">
            <div class="cart__body--product">
                <div class="cart__product">
                    <div class="product__img--wrapper">
                        <img src="https://cdn.shopify.com/s/files/1/0277/0693/products/s20_pr_m_tech-shirt_black_12_49200049986_ocopy_360x.jpg?v=1584135571"
                            alt="" class="product__img">
                    </div>
                    <div class="product__info">
                        <a href="/">
                            <h3 class="product__name">TOUR SHIRT - FLORAL - WOMEN'S</h3>
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                        <div class="product__info--detail">
                            <strong class="product__info-text">NATURAL FLORAL</strong>
                            <strong class="product__info-text">X-SMALL</strong>
                        </div>
                        <div class="product__quantity">
                            <input class="product__info-text" type="number" name="" id="" max="21" min="0">
                            <strong class="product__price">$69.00</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart__body--sideinfo">
                <div class="cart__body--subtotal">
                    <h3>SUBTOTAL</h3>
                    <strong>$243.95</strong>
                </div>
                <div class="cart__body--buy">
                    <button type="button" class="btn btn-danger">BUY AS GUEST</button>
                    <button type="button" class="btn btn-danger">BUY AS MEMBER</button>
                </div>
                <div class="jumbotron">
                    <strong>Free U.S. shipping</strong>
                    <strong>Free U.S. returns & exchanges</strong>
                    <strong class="jumbotron__MAP">MAP Guarantee
                        <sup>TM</sup>
                    </strong>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>