@import './../Abstracts/mixins';
footer{
    width: 100%;
    .signup{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 50px 20px;
        background-color: red;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        .signup__content{

            color: white;
            h2{
                font-size: 2em;
                font-weight: 800;
                margin-bottom: 20px;
            }
            p{
                margin-bottom: 20px;
                font-size: 1em;
            }
        }
        .signup__form{
            width: 100%;
            display: flex;
            align-items: center;
            input[type="submit"]{
                background-color: black;
                border: 0;
                color:white;
                font-size: 0.8em;
                font-weight: 800;
                width: 100px;
                height: 47px;
            }
            input[type="text"]{
                width: 60%;
                height: 45px;
                padding-left:10px;
            }
        }
    }
    .footer__more{
        background-color: black;
        .row
        {
            @include border_box;
            width: 90%;
            padding: 70px 0 0 0;
            margin: auto;
            max-width: 1170px;
            .footer__shop
            {
                width: 100%;
                padding: 0 0 70px 0;
                h6{
                    color:white;
                    font-size: 0.8em;
                    font-weight: 600;
                    display: block;
                    margin-bottom: 15px;
                    cursor: pointer;
                }
                ul{
                    font-size: 0.9em;
                    list-style-type: none;
                    li{
                        color: rgb(155, 155, 155);
                        padding:5px 0;
                        cursor: pointer;
                    }
                    li:hover{
                        color:white;
                        transition: 0.2s;
                    }
                }
            }
            .footer__social--contact{
                border-top: thin solid gray;
                @include align__center--flex;
                flex-flow: column;
                height: 150px;
                width: 100%;
                background-color: black;
                max-width: 1170px;
                .footer__social{
                    list-style-type: none;
                    display: flex;
                    flex-flow: row nowrap;
                    i{
                        display: block;
                        font-size: 1.5em;
                        margin:0 5px;
                        color:gray;
                        cursor: pointer;
                    }
                    i:hover{
                        color:white;
                    }
                }
                .footer__copyright{
                    color:gray;
                    font-size: 0.8em;
                }
            }
        }
    }
    
}
@media screen and(min-width :767px){
    footer{
    .signup{
        padding: 50px 50px;
        flex-flow: row;
        @include align__center--flex;
        .signup__content{
            width: 60%;
        }
        .signup__form{
            justify-content: flex-end;
            width: 40%;
        }
    }
    .footer__more{
        .row{
            .footer__shop{
                width: 48%;
            }
        }
        .footer__social--contact{
            width: 80%;
            height: 80px !important;
            flex-flow: row;
            justify-content: space-between;
        }
    }
  
}
    
}
@media screen and (min-width :992px){
    footer{
        .signup{
        // padding 50 50
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        .signup__content{

            width: 55%;
            color: white;
            h2{
                font-size: 3.5em;
                font-weight: 800;
                margin-bottom: 20px;
            }
            p{
                margin-bottom: 20px;
                font-size: 1em;
            }
        }
        .signup__form{
            width: 35%;
            display: flex;
            align-items: center;
            input[type="submit"]{
                background-color: black;
                border: 0;
                color:white;
                font-size: 0.8em;
                font-weight: 800;
                width: 100px;
                height: 47px;
            }
            input[type="text"]{
                width: 60%;
                height: 45px;
                padding-left:10px;
            }
        }
    }
        .footer__more{
            .row{
                width: 100%;
                max-width: 1170px;
                padding-left: 120px;
                .footer__shop{
                    width: 10%;
                }

                .footer__social--contact{
                    width: 80%;
                    flex-flow: row;
                    justify-content: space-between;
                }
            }
        }
    }
}