.plus--rotate{
    animation: rotate 0.5s ease-out 0s 1 normal forwards;
}
.plus--rotate--reverse{
    animation: rotate 0.5s ease-out 0s 1 reverse forwards;
}


@keyframes rotate{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(1025deg);
    }
}