
main{
    .product--details{
        .slide_show{
            .row{
                .gallery{
                    position: relative;
                    .album{
                        overflow: hidden !important;
                        padding: 0 !important;
                    }
                }
                .slide{

                }
            }
        }
        .card--detail{

        }
    }
}