.card--detail {
    background-color: rgb(255, 255, 255);
    padding: 15px !important;

    .card__name {
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 1000;
    }
}
// Price
.card__detail--price {
    .other__price {
        margin: 0;
        font-size: 0.9em;
    }
    .other__price img {
        margin-left: 4px;
        width: 75px;
        vertical-align: text-bottom;
    }
}

.card__detail--color {
    /* Color */
    .switch_color {
        display: flex;
        flex-flow: row wrap;
        margin-top: 10px;
        .color {
            cursor: pointer;
            position: relative;
            height: 20px;
            width: 20px;
            margin: 0 10px 10px 0;
            border-radius: 999px;
            background-color: rgb(131, 199, 245);
            input {
                display: none;
            }
            input[type="radio"]:checked ~ .stuff {
                display: block;
            }
            .stuff {
                display: none;
                position: relative;
                height: 26px;
                width: 26px;
                top: -6px;
                left: -6px;
                transform: translate(3px, 3px);
                border-radius: 999px;
                border: 0.5px solid black;
            }
        }
    }
}

.card__detail--color,
.card__detail--size {
    p {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 0.9em;
    }
    span {
        color: gray;
    }
    strong {
        font-weight: lighter;
    }
}

/* Size */
.card__detail--size {
    .switch_size {
        margin-top: 5px;
        display: flex;
        .size {
            cursor: pointer;
            margin-right: 5px;
            input {
                display: none;
            }
            input[type="radio"]:checked ~ em {
                border: 0.5px solid rgb(0, 0, 0);
            }
            em {
                box-sizing: border-box;
                padding: 8px 12px;
                border: 0.5px solid rgba(0, 0, 0, 0);
                display: block;
                height: 100%;
                font-size: 0.85em;
            }
        }
    }
}

.card__detail--cart {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    input {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        text-align: center;
        color: gray;
    }
    .btn {
        border-radius: 0;
        width: 100%;
    }
}

.jumbotron {
    height: fit-content;
    padding: 20px 0 20px 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    strong {
        margin-top: 3px;
    }
    .jumbotron__MAP {
        color: red;
    }
}

/* Accordian */
#accordianId {

    .card {
        border: 0 !important;
        .card-header {
            background-color: white;
            border-top: 0;
            border-right: 0;
            border-left: 0;
            .accordian__toggle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                h6 {
                    font-size: 1em;
                    font-weight: 800;
                    color: black;
                    margin: 0;
                }
            }
            .plus {
                display: block;
                margin-right: 5px;
                padding: 0;
                
                transform: rotateZ(45deg);
                color: gray;
                font-size:1.2em;
                transition: 1s;
            }
            .accordian__toggle:hover {
                text-decoration: none;
            }
        }
        .card-body {
            border-bottom: 0.5px solid rgb(184, 181, 181);
        }
    }
}
