<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="lookbook.css" />
</head>

<body>
    <div class="lookbook">
        <section class="banner">
            <h1>spring 2020 lookbook</h1>
        </section>
    </div>
    <div class="lookbook">

        <section class="sr_row container-fluid">
            <div class="row album_book">
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="book">
                        <div class="book_detail">
                            <div class="bg_img">
                                <img
                                    src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                <div class="outfit">
                                    <strong><a href="#">Coverall</a></strong>
                                    <strong><a href="#">Mini Quick Pack</a></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="book">
                                    <div class="book_detail">
                                        <div class="bg_img bg_img--notFull">
                                            <img
                                                src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                            <div class="outfit">
                                                <strong><a href="#">Coverall</a></strong>
                                                <strong><a href="#">Mini Quick Pack</a></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="book">
                                    <div class="book_detail">
                                        <div class="bg_img">
                                            <img
                                                src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                            <div class="outfit">
                                                <strong><a href="#">Coverall</a></strong>
                                                <strong><a href="#">Mini Quick Pack</a></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="book">
                                    <div class="book_detail">
                                        <div class="bg_img">
                                            <img
                                                src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                            <div class="outfit">
                                                <strong><a href="#">Coverall</a></strong>
                                                <strong><a href="#">Mini Quick Pack</a></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="book">
                                    <div class="book_detail">
                                        <div class="bg_img bg_img--notFull">
                                            <img
                                                src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                            <div class="outfit">
                                                <strong><a href="#">Coverall</a></strong>
                                                <strong><a href="#">Mini Quick Pack</a></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sr_row container-fluid">
            <div class="row album_book">
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="book">
                        <div class="book_detail">
                            <div class="bg_img">
                                <img
                                    src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                <div class="outfit">
                                    <strong><a href="#">Coverall</a></strong>
                                    <strong><a href="#">Mini Quick Pack</a></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="book">
                                    <div class="book_detail">
                                        <div class="bg_img bg_img--notFull">
                                            <img
                                                src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                            <div class="outfit">
                                                <strong><a href="#">Coverall</a></strong>
                                                <strong><a href="#">Mini Quick Pack</a></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="book">
                                    <div class="book_detail">
                                        <div class="bg_img">
                                            <img
                                                src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                            <div class="outfit">
                                                <strong><a href="#">Coverall</a></strong>
                                                <strong><a href="#">Mini Quick Pack</a></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="book">
                                    <div class="book_detail">
                                        <div class="bg_img">
                                            <img
                                                src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                            <div class="outfit">
                                                <strong><a href="#">Coverall</a></strong>
                                                <strong><a href="#">Mini Quick Pack</a></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="book">
                                    <div class="book_detail">
                                        <div class="bg_img bg_img--notFull">
                                            <img
                                                src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                            <div class="outfit">
                                                <strong><a href="#">Coverall</a></strong>
                                                <strong><a href="#">Mini Quick Pack</a></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sr_row container-fluid">
            <div class="row album_book">
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="book">
                        <div class="book_detail">
                            <div class="bg_img">
                                <img
                                    src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                <div class="outfit">
                                    <strong><a href="#">Coverall</a></strong>
                                    <strong><a href="#">Mini Quick Pack</a></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="book">
                                    <div class="book_detail">
                                        <div class="bg_img bg_img--notFull">
                                            <img
                                                src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                            <div class="outfit">
                                                <strong><a href="#">Coverall</a></strong>
                                                <strong><a href="#">Mini Quick Pack</a></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="book">
                                    <div class="book_detail">
                                        <div class="bg_img">
                                            <img
                                                src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                            <div class="outfit">
                                                <strong><a href="#">Coverall</a></strong>
                                                <strong><a href="#">Mini Quick Pack</a></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="book">
                                    <div class="book_detail">
                                        <div class="bg_img">
                                            <img
                                                src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                            <div class="outfit">
                                                <strong><a href="#">Coverall</a></strong>
                                                <strong><a href="#">Mini Quick Pack</a></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="book">
                                    <div class="book_detail">
                                        <div class="bg_img bg_img--notFull">
                                            <img
                                                src="https://i.shgcdn.com/9c130b99-70a0-4a80-91d5-e286589016d7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"></img>
                                            <div class="outfit">
                                                <strong><a href="#">Coverall</a></strong>
                                                <strong><a href="#">Mini Quick Pack</a></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>